<div class="login-container">
  <form class="login-form" id="loginForm">
    <div class="title-hero title-login">
      {TECH BLOG}
    </div>
    <div class="hero-login">
      <lottie-player
        src="https://assets6.lottiefiles.com/packages/lf20_0qejs58a.json"
        background="transparent"
        speed="1"
        style="width: 200px; height: 200px;"
        loop
        autoplay
      ></lottie-player>

    </div>
    <div class="form-floating div-input mb-3">
      <input
        type="email"
        class="form-control"
        id="emailInput"
        placeholder="name@example.com"
        required
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating div-input mb-4">
      <input
        type="password"
        class="form-control"
        id="passwordInput"
        placeholder="Password"
        required
      />
      <label for="floatingPassword">Password</label>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-blue btn-lg">Log in</button>
    </div>
  </form>
</div>
<script src="./js/login.js"></script>