
/* font-family: 'McLaren', cursive;
font-family: 'Roboto', sans-serif; */

.login-container{
    display: flex;
    min-height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.login-form{
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
    align-items:center;
    width:400px;
    height: 500px;
    background-color: var(--light-gray);
    padding: 20px;
    border:1px solid var(--blue)

}

.div-input{
    width: 100%;
}

