

/* Google Fonts
 font-family: 'Bebas Neue', cursive;
font-family: 'Roboto',sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-gray:#F6F6F6;
    --light-blue:#D6E4F0;
    --blue:#1E56A0;
    --dark-blue:#163172;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background:#fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}



nav{
    background-color: var(--light-gray) !important;
    height: 100px;
   
}

h1{
    font-family: 'Bebas Neue', cursive;
    color: var(--blue) !important;
    padding-bottom: 40px;
}
main{
    display: flex;
}   


footer{
    
    background-color: var(--light-gray);
    height: 100px;
    font-family: 'Bebas Neue',cursive;
    font-size: 1.2rem;
    color: var(--blue) !important;
    padding:20px  10px;
}

footer ul{
    list-style-type: none;
}

footer .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--blue);
}

a:hover{
    text-decoration: underline;
    color: var(--dark-blue);
}

input{
    color: var(--blue) !important;
    font-size: 1.4rem !important;
}

input:active{
    color: var(--dark-blue) !important;
    background-color: var(--light-blue) !important;
}

textarea{
    height: 300px !important;
}

.hero{
    margin-bottom: 40px;
    padding:20px 0;
}

.btn-blue{
    color:var(--light-gray);
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-blue:hover{
    color:var(--light-gray);
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
};


.title {
    font-family: 'Bebas Neue', cursive;
    color: var(--blue) !important;
    font-size: 3rem !important;
    padding-top: 20px;

}

.title-hero {
    font-family: 'Bebas Neue',cursive;
    color: var(--light-gray);
    font-size: 6rem;;
    padding-top: 20px;

}
.title-hero .letter {
    display: inline-block;
    line-height: 1em;
}

.navbar-brand{
     font-family: 'Bebas Neue', cursive;
     color: var(--blue) !important;
     font-size: 3rem !important;
}

.nav-link{
    font-size: 1.4rem !important;
    color: var(--blue) !important;
    
}

.nav-link:hover{
    color: var(--dark-blue) !important;
    border-bottom: 2px solid var(--light-gray);
}

.navbar-toggler {
    border-color: var(--dark-blue) !important;
}
.navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(30, 86, 160,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
 }


.navbar-collapse{
    background-color: var(--light-gray) !important;
    padding: 0 10px;
    z-index: 1;
}

.card{
    border:none !important;
    border-radius: 20px !important;
}

.card:hover{
    background-color: var(--light-gray) !important;
}

.blogs-list{
    padding: 10px 0 30px 0;
}

.blog-title{
    padding:20px 15px 0px 15px;
    font-family: 'Bebas Neue', cursive;
    color: var(--blue) !important;
    font-size: 1.6rem !important;
    text-transform: uppercase;
    margin:0px;
}

.divider{
    max-width: 60%;
    border-bottom: 2px solid var(--blue);
}

.blog-body{
    padding: 0px 40px;
    font-size: 1.2rem !important;
    text-align: justify;
    line-height: 1.8;
}



@media screen and (max-width:768px) {
 .title-hero{
     font-size: 4rem;
 }

}


@media screen and (max-width:575px) {
    .title-hero{
        display: none;
    }
    .blog-body{
        padding: 0px 10px;
    }
    footer .container {
        flex-flow: column wrap;
        justify-content: space-between;
    }


   
}
