* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-gray:#F6F6F6;
    --light-blue:#D6E4F0;
    --blue:#1E56A0;
    --dark-blue:#163172;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background:#fff;
}


nav{
    background-color: var(--blue) !important;
    height: 100px;
}

input{
    color: var(--blue) !important;
    font-size: 1.4rem !important;
}

input:active{
    color: var(--dark-blue) !important;
    background-color: var(--light-blue) !important;
}

.btn-blue{
    color:var(--light-gray);
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-blue:hover{
    color:var(--light-gray);
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
};


.title {
    font-family: 'McLaren', cursive !important;
    font-size: 3rem !important;
    color: var(--blue) !important;
    padding-top: 20px;

}

.navbar-brand{
     font-family: 'McLaren',cursive !important;
     color: var(--light-gray) !important;
     font-size: 1.8rem !important;
}

.nav-link{
    font-size: 1.4rem !important;
    color: var(--light-gray) !important;
}

